@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
  --black: #000000;
  --white: #ffffff;
  --red: #c01f3e;
  --yellow: #fecb0e;
  --pale-yellow: #ffedbf;
  --light-blue: #1bd6f9;
  --gray: #e2dad8;
}

@media screen and (max-width: 990px){
  div.section{
    padding: 8%;
    height: 80vh;
  }
}
@media screen and (max-width: 767px){
  .section h1{
    font-size: x-large;
  }
  div.section{
    padding: 8%;
    height: 60vh;
  }
}

@media screen and (max-width: 520px){
  div.section{
    padding: 8%;
    height: 50vh;
  }
}

@media screen and (max-width: 440px){
  div.section{
    padding: 8%;
    height: 40vh;
  }
  .sec-2 {
    font-size: small;
  }
  div.sec-3-img {
    margin: auto;
    width: 100%;
    height: auto%;
  }
}

main {
  margin-top: 78px;
}

.dark {
  background-color: var(--red);
}
.section{
  position: relative;
  padding: 8%;
  height: 100vh;
}
.section h1{
  font-family: 'Montserrat', sans-serif;
}
.section_logo {
  width: 70%;
}
.center {
  display: block;
  margin: 0 auto;
}
.sec-2{
  margin: auto;
}
.sec-3-img {
  margin: auto;
  width: auto;
  height: 100%;
}

.sec-4-img{
  width: 100%;
  height: auto;
}